<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
<a class="navbar-brand" routerLink="/">Oshop</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/shopping-cart">Shopping-Cart</a>
    </li>
   
    <ng-template #anonymoususer>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ng-template>
    
    <li class="nav-item dropdown" ngbDropdown *ngIf="appUser; else anonymoususer">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{appUser.name}}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu >
        <a class="dropdown-item" routerLink='/my/orders'>My Orders</a>

        <ng-container *ngIf="appUser.isAdmin">
          <a class="dropdown-item" routerLink='/admin/admin-products'>Admin Products</a>
          <a class="dropdown-item" routerLink='/admin/admin-orders'>Admin Orders</a>
        </ng-container>
        
        <a class="dropdown-item" (click)="Logout()">LogOut</a>
      </div>
    </li>
  </ul>
</div>
</nav>

