<div class="row">
  <div class="col-md-6">

      <form #f='ngForm' (ngSubmit)='save(f.value)'>
          <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="product.title" name="title" #title="ngModel" required>
          </div>
        
          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            Title is Requierd
          </div>
        
          <div class="form-group">
              <label for="price">Price</label>
              <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" id="price" [(ngModel)]="product.price" name="price"  #price="ngModel" required [min]="0">
              </div>
          </div>
        
          <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
              <div *ngIf="price.errors.required"> Price is Requierd</div>  
              <div *ngIf="price.errors.min"> Price Should be 0 or Higher</div>  
          </div>
        
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category"  ngModel name="category"  #category="ngModel" required>
                  <option value=""></option>
                  <option *ngFor="let c of categories" [value]="c.key">
                    {{c.name}}
                  </option>
                 </select>
            </div>
        
            <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                Category is Requierd
            </div>
        
              <div class="form-group">
                  <label for="imageurl">Image Url</label>
                  <input type="text" class="form-control" id="imageurl"  [(ngModel)]="product.imageurl" name="imageurl"  #imageurl="ngModel" required url>
              </div>
        
              <div class="alert alert-danger" *ngIf="imageurl.touched && imageurl.invalid">
                <div *ngIf="imageurl.errors.required">Image url is Requierd</div>
                <div *ngIf="imageurl.errors.url"> Please enter a valid url</div>   
              </div>
        
              <button class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        </form>

  </div>

  <div class="col-md-6">

      <div class="card" style="width: 18rem;">
          <img [src]="product.imageurl" class="card-img-top" *ngIf="product.imageurl">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.price | currency:'USD'}}</p>
          </div>
        </div>
    
  </div>
</div>

