<p>
    <button class="btn btn-primary" routerLink="/admin/product/new">New Product</button>
</p>
<p>
    <input type="text" placeholder="Search..." #query (keyup)="filter(query.value)" class="form-control">
</p>
<table class="table">
    <thead>
        <th>Title</th>
        <th>Price</th>
        <th></th>
    </thead>

    <tbody>
        <tr *ngFor="let p of filtredProduct">
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td><a [routerLink]="[ '/admin/product', p.key ]">Edit</a></td>
        </tr>
    </tbody>
</table>